openapi: 3.0.0
info:
  title: async serverless application gem API
  description: |-
    async serverless application gem API
  version: 1.0.0
servers:
  - url: 'http://localhost:{port}/gem/'
    description: dev
    variables:
      port:
        default: '8081'
  - url: 'https://api.<domain-name>/gem/'
    description: stg

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []

paths:
  # /healthcheck: # api-gatewayでエンドポイントを/v1/を指定しているため
  /v1/healthcheck:
    get:
      tags:
        - healthcheck
      summary: ヘルスチェックAPI
      description: APIが正常に動作しているかを確認します。
      operationId: healthcheck
      responses:
        '200':
          description: API is up and running
          content:
            application/json:
              schema:
                $ref: './api/responses/HealthCheck.yaml'
      security: []  # healthcheckでは認証を必要としないため

  # 通貨系API
  /v1/currencies/balances:
    $ref: './api/v1/currencies/paths/Balance.yaml'
  /v1/currencies/purchases:
    $ref: './api/v1/currencies/paths/Purchase.yaml'
